<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>XSLT Flask Server</title>
        <meta name="description" content="Servidor Flask con Transformaciones en XSLT">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

		<form action="/transform" method="post" enctype="multipart/form-data">
			<input type="file" name="uploadfile" />
			<input type="submit" value="Transformar" />
		</form>

    </body>
</html>